.full-height {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.title-main{
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  mix-blend-mode: hard-light;

}
.background-image{
  position: fixed;
  background: url("/img/background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100%;

}
.front-pic{
  z-index:3;
  position: fixed;
  bottom: 0px;
  left:0%;
  width:18%;
}
.front-pic img{
  max-width: 100%;
}
.s-inner{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.scroll-line{
  height:80px;
  border-left: #333 dashed 2px;
  position: relative;
  left: 50%;

}

.button-gears{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.scroll-line h6 {
  color: white;
  position: relative;
  transform: translateX(-50%) rotate(90deg);
  display: inline-block;
  top: 78px;
}

img.Gears{
  width: 150px;
}

.top-titles{
  color: lightgrey;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  -webkit-text-stroke: 0.2px black
}
.title-main h1 {
  color: white;
  -webkit-text-stroke: 0.1px black
  position: relative;
  transform: translateX(+7%);


}
@media only screen and (min-width: 768px) {
  .front-image{
    width: 50%;
    bottom: -20px;
    left: 0;
  }

}
.s-inner h4 {
  position: relative;
}

.slides {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slides img{
  transform: translateY(400px);
  transition: transform 3s;
}

.slides:hover > img{
  transform: translateY(0px);
}
.slides2 { /*this is not necessary, it was just testing*/
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slides2 img{
  transform: translateY(400px);
  transition: transform 0.3s;
}

.slides2:hover > img{
  transform: translateY(0px);
}




@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .info1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .info2 {
    grid-column: span 2;
  }
  .figure1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .figure5 {
    grid-column: span 2;
  }
  .figure6 {
    grid-column: span 2;
  }

}

.index2-body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  background-color: #1d1e22;
}
.figure-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info1  {
  padding: 40px;
  background-color: #292727;
  color: #fff;
  background-color: grey;
}

.info-link {
  text-decoration: none;
  color: #d80;
}
